@model Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="my-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmScheduleID" class="control-label"></label>
                <select asp-for="FilmScheduleID" name="FilmScheduleID" class="form-control" asp-items="ViewBag.FilmScheduleID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AmountTicket" class="control-label"></label>
                <input asp-for="AmountTicket" id="amountTicket" name="amountTicket" class="form-control" /> <span id="ticket-remain"></span>
                <span asp-validation-for="AmountTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowAll">Back to List</a>
</div>

@section Scripts {
    <script>
        $("select[name='FilmScheduleID']").change(function () {
            var schedule_id = $(this).val();
            $.ajax({
                url: '/Order/CountTicketRemain',
                method: 'GET',
                data: {
                    scheduleId: schedule_id,
                },
                success: function (data) {
                    $('#ticket-remain').html("Còn " + data + " vé");
                    //$("#my-form").validate({
                    //    rules: {
                    //        amountTicket: { 
                    //            remote: {
                    //                url: '/Order/CheckCorrectAmount',
                    //                type: 'GET',
                    //                data: {
                    //                    ticketRemain: data,
                    //                    amountTicket: $("#amountTicket").val()
                    //                },
                    //                success: function(res) {
                    //                    console.log(res)
                    //                }
                    //            }
                    //        }
                    //    },
                    //    messages: {
                    //        amountTicket: { remote: "Vui lòng nhập số lượng ít hoặc bằng hơn lượng vé còn lại" }
                    //    }
                    //});
                }
            });
        });
        
        //ticket_remain = $('#hidden-val').val();
        //console.log(ticket_remain)
       
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

